:root {
  --main-border: .25px solid #e1e4e8;
}


.App {
  text-align: center;
}

.nav {
  background: #24292e;
}
.nav a,
.nav a:visited {
  color: white;
  text-decoration: none;
  font-weight: 600
}
@media only screen and (min-width: 768px) {
  .nav input {
    width: 300px;
  }
}
.issueIndex {
  width: 980px;
  margin: auto;
}
.issueIndexHeader {
  display: flex;
  width: 100%;
}
.issueIndexHeader > * {
  font-size: .8em;
  padding: .8em;
  font-weight: 600;
}
.issueIndexHeader > input {
  width: 300px;
}
.flexFiller {
  flex-grow: 2
}

.issueIndexList {
  border: var(--main-border);
  margin: 1em 0;
}

.issueListItem * {
  margin: 0;
}
.issueListItem {
  text-align: left;
  border-top: var(--main-border);
  padding: .5em;
}


.issueIndexListHeader {
  display: flex;
}

.issueIndexListHeader > * {
  padding: .8em;
}

.listItemHeader {
  display: flex;
  align-items: center;
}
.listItemHeader * {
  margin: 0;
}

/* Prettify */
.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.clo,.opn,.pun{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.kwd,.tag,.typ{font-weight:700}.str{color:#060}.kwd{color:#006}.com{color:#600;font-style:italic}.typ{color:#404}.lit{color:#044}.clo,.opn,.pun{color:#440}.tag{color:#006}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}